@model IEnumerable<Cuong_WebsiteTimPhongTro.Models.Comment>

@{
    ViewBag.Title = "AddComment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddComment</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AddComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.CustomerName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AddComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.CustomerName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CommentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CommentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CommentID })
        </td>
    </tr>
}

</table>
